<div class="frame" [@fadeIn]>
  <form (ngSubmit)="onSubmit(registerForm)" [formGroup]="registerForm">
    <table>
      <tr>
        <th>*编号：</th>
        <td>
          <input type="text" formControlName="userid" />
        </td>
        <td>
          <span class="error" *ngIf="registerForm.controls['userid'].hasError('required')">
            请输入编号！
          </span>
        </td>
      </tr>
      <tr>
        <th>*姓名：</th>
        <td>
          <input type="text" formControlName="username" />
        </td>
        <td>
          <!-- <span class="error" *ngIf="username.invalid && (username.dirty || username.touched || registerForm.submitted)">
            <span *ngIf="username.errors.required">请输入姓名！</span>
            <span *ngIf="username.errors.minlength">姓名致少2个字符！</span>
          </span> -->
          <span class="error" *ngIf="registerForm.controls['username'].hasError('required')">
            请输入姓名！
          </span>
        </td>
      </tr>
      <tr>
        <th>*性别：</th>
        <td>
          <input type="text" formControlName="usergender" />
        </td>
        <td>
          <!-- <span class="error" *ngIf="usergender.invalid && (usergender.dirty || usergender.touched || registerForm.submitted)">
            <span *ngIf="usergender.errors.required">请输入性别！</span>
          </span> -->
          <span class="error" *ngIf="registerForm.controls['usergender'].hasError('required')">
            请输入性别！
          </span>
        </td>
      </tr>
    </table>
    <div class="bottom">
      <btn type="submit" title="注册"></btn>
    </div>
  </form>
</div>
