<div class="frame" [@fadeIn]>
  <form (ngSubmit)="onSubmit(registerForm)" [formGroup]="registerForm" #form="ngForm" [class.submitted]="form.submitted">
    <table>
      <tr>
        <th>*编号：</th>
        <td>
          <input type="text" formControlName="userid" />
        </td>
        <td class="err">
          <span class="error" [@errorInOut]="isShowError('userid', form) && registerForm.controls['userid'].hasError('required')?'in':'out'">
            请输入编号！
          </span>
        </td>
      </tr>
      <tr>
        <th>*姓名：</th>
        <td>
          <input type="text" formControlName="username" />
        </td>
        <td class="err">
          <span class="error" [@errorInOut]="isShowError('username', form) && registerForm.controls['username'].hasError('required')?'in':'out'">
            请输入姓名！
          </span>
          <span class="error" [@errorInOut]="isShowError('username', form) && registerForm.controls['username'].hasError('minlength')?'in':'out'">
            姓名致少2个字符！
          </span>
        </td>
      </tr>
      <tr>
        <th>*性别：</th>
        <td>
          <input type="text" formControlName="usergender" />
        </td>
        <td class="err">
          <span class="error" [@errorInOut]="isShowError('usergender', form) && registerForm.controls['usergender'].hasError('required')?'in':'out'">
            请输入姓名！
          </span>
        </td>
      </tr>
    </table>
    <div class="bottom">
      <btn type="submit" title="注册"></btn>
    </div>
  </form>
</div>
