<div class="frame" [@fadeIn]>
  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" [class.submitted]="registerForm.submitted">
    <table>
      <tr>
        <th>*编号：</th>
        <td>
          <input type="text" name="id" #userid="ngModel" [(ngModel)]="user.id" required />
        </td>
        <td class="err">
          <!-- <error [show]="isShowError(userid, registerForm) && userid.errors.required" message="请输入编号！"></error> -->
          <div class="error" [@errorInOut]="isShowError(userid, registerForm) && userid.errors.required?'in':'out'">请输入编号！</div>
        </td>
      </tr>
      <tr>
        <th>*姓名：</th>
        <td>
          <input type="text" name="name" #username="ngModel" [(ngModel)]="user.name" required minlength="2" />
        </td>
        <td class="err">
          <div class="error" [@errorInOut]="isShowError(username, registerForm) && username.errors.required?'in':'out'">请输入姓名！</div>
          <div class="error" [@errorInOut]="isShowError(username, registerForm) && username.errors.minlength?'in':'out'">姓名致少2个字符！</div>
        </td>
      </tr>
      <tr>
        <th>*性别：</th>
        <td>
          <input type="text" name="gender" #usergender="ngModel" [(ngModel)]="user.gender" required />
        </td>
        <td class="err">
          <div class="error" [@errorInOut]="isShowError(usergender, registerForm) && usergender.errors.required?'in':'out'">请输入性别！</div>
        </td>
      </tr>
    </table>
    <div class="bottom">
      <btn type="submit" title="注册"></btn>
    </div>
  </form>
</div>
